.setting-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.setting-value p {
  word-break: break-all;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}
.buttons img {
  width: 25px;
  height: 25px;
}
.buttons button {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 0rem 0rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: white;
  border: none;
}

.buttons button:hover {
  background-color: rgb(209, 209, 209);
}

.view-container {
  display: flex;
  flex-direction: row;

  margin-bottom: 1rem;
}
