.preview {
  padding-right: 2rem;
}
.img {
  border-radius: 10px;
}

.title {
  font-size: 25pt;
  text-align: center;
}

.categories {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.category {
  padding-right: 1rem;
  font-size: 14pt;
}

.game-link {
  height: 100%;
  margin-bottom: 0;
  background-color: #3498db;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
  width: 25%;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.game-link:hover {
  background-color: #2980b9;
}
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: #ecf0f1;
}



