.input-container {
  display: flex;
  flex-direction: column;
}

.input-field {
  border-radius: 0.3rem;
  border: 0.1rem solid black;
  height: 2rem;
  width: 20rem;
  padding: 0.4rem;
}

input.invalid {
  border: 1px solid red;
}

