.h1 {
  padding-bottom: 2rem;
}

.games-tabel {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.games-tabel tr {
  border: 1px solid black;
}

.games-tabel th,
.games-tabel td {
  border-bottom: 1px solid black;
  padding: 1rem;
  text-align: left;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}