.profile-image-container {
  padding: 0.2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image-container:hover {
  background-color: lightblue;
}

/* для @szhsin/react-menu необходимо чтобы элемент был кнопкой, поэтому сделан стиль кнопки в ввиде дива */
.menu-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline;
  font: inherit;
  color: inherit;
  text-align: inherit;
}


.menu {
  list-style: none;
  background-color: lightgray;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}

.menuitem {
  padding: 0.4rem;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 5px;
}
.menuItem:focus {
  outline: none;
}
.menuitem:hover {
  background-color: lightblue;
}

.menu-divider {
  height: 1px;
  margin: 1rem;
  background-color: black;
}
