.container {
  display: flex;
  flex-direction: column;
}

.table {
  margin: auto;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid black;
  border-bottom: none;
}

.table td{
  border-bottom: 1px solid black
}

.download-more {
  margin: auto;
}

.download-more-button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 14pt;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.download-more-button:hover {
  background: #e7e8e9;
  color: #9fa3a9;
}

.download-more-button:disabled {
  background: #e7e8e9;
}
