body.modal-open {
  overflow: hidden;
}

.dialog {
  width: 80%;
  height: 60%;
  margin: 10rem auto;
  padding: 5rem;
  border: 1px solid #ccc;
  border-radius: 40px;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  margin: 0;
}

.content {
  margin-top: 50px;
  font-size: 16pt;
}

.close-button {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: lightblue;
  border-radius: 5px;
}
