body.modal-open {
  overflow: hidden;
}

.dialog {
  width: 80%;
  height: auto;
  margin: 10rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  margin: 0;
}

.game-link {
  height: 100%;
  margin-left: 1rem;
  margin-bottom: 0;
  background-color: lightblue;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
}
.game-link:hover {
  background-color: blue;
}

.title {
  font-size: 25pt;
  text-align: center;
}

.content {
  margin-top: 50px;
  font-size: 16pt;
}

.close-button {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: lightblue;
  border-radius: 5px;
}
