.logo-section {
  padding-right: 1rem;
  width: auto;
}

.navigation-section {
  width: 100%;
}

.profile-section {
  width: 100%;
}

.header {
  background-color: gray;
  width: auto;
  height: auto;
  height: auto;
  display: flex;
  padding: 0 1rem 0 1rem;
}
