.header-container{
  display: flex;
  flex-grow: 1;
}

.logo-section {
  width: auto;
  cursor: pointer;
}

.navigation-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
}

.profile-section {
  width: auto;
}

.header {
  background-color: gray;
  width: auto;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  padding-left: 10%;
  padding-right: 10%;
}

.padding-right {
  margin-right: 1rem;
}
