@font-face {
  font-family: "CyrillicRound";
  src: url("./CyrillicRound/cyrillicround.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Medium";
  src: url("./Futura-PT-Medium/ofont.ru_Futura\ PT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}