.wrapper {
  display: flex;
  margin: 0;
  display: flex;
  margin-left: 10rem;
  margin-top: 1rem;
}

.form {
  border: 1px solid black;
  border-radius: 5px;
  width: 75%;
}

.form > :last-child {
  border-bottom: none;
}
