.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.user-settings-container {
  border: 1px solid #000000;
  border-radius: 5px;
  width: 75%;
}

.user-settings-container > :last-child {
  border-bottom: none;
}
