@import "../src/resources/fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Futura PT Medium";
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}