.section {
  width: 100%;
  max-width: 400px; /* Максимальная ширина для секций */
  margin-bottom: 20px;
}

.button {
  width: 100%;
  max-width: 400px;
}

.error-message {
  color: red;
  font-size: 16pt;
  margin-top: 20px;
  text-align: center;
}

.success-message {
  color: green;
  font-size: 16pt;
  margin-top: 20px;
  text-align: center;
}