.auth-page-font {
  --font-size: 19px;
}

.form-container {
  border: 1px solid black;
  border-radius: 25px;
  padding: 2rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page-font button,
.auth-page-font input,
.auth-page-font form {
  font-size: var(--font-size);
}

.auth-page-font button{
  height: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10rem;
  padding-bottom: 3rem;
}
